# Default owners for everything in the repo
* @christopheranderson

# Python source
phlegyas/ @christopheranderson
tests/ @christopheranderson

# CI/CD
.github/ @christopheranderson

# Documentation
**/*.md @christopheranderson
